name: Publish

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      id-token: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 2
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install uv
      uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d
    - name: Prepare Ubuntu
      run: |
        sudo apt-get update
        sudo apt-get install -y sox libsox-fmt-mp3 ffmpeg mediainfo
    # PyPI package
    - name: Build Python package
      run: uv build
    - name: Publish Python package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
    # Documentation
    - name: Build documentation
      run: uv run python -m sphinx docs/ docs/_build/ -b html
    - name: Deploy documentation to Github pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build
    # Github release
    - name: Read CHANGELOG
      id: changelog
      run: |
        # Get bullet points from last CHANGELOG entry
        CHANGELOG=$(git diff -U0 HEAD^ HEAD | grep '^[+][\* ]' | sed 's/\+//')
        echo "Got changelog: $CHANGELOG"
        # Support for multiline, see
        # https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#multiline-strings
        {
          echo 'body<<EOF'
          echo "$CHANGELOG"
          echo EOF
        } >> "$GITHUB_OUTPUT"
    - name: Create release on Github
      id: create_release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        name: Release ${{ github.ref_name }}
        body: ${{ steps.changelog.outputs.body }}
